 /***** Main section Start ******/

 .main-section {
   height: 100vh;
   display: flex;
   justify-content: space-around;
   padding: 50px 150px 0px 150px;
   gap: 100px;
   align-items: center;
   background: rgba(229, 84, 115, 0.10);

 }

 .h1 {
   color: #272727;
   font-size: 40px;
   font-weight: 900;
   line-height: 40%;

 }

 p {
   color: rgba(39, 39, 39, 0.60);
   font-size: 15px;
   font-style: normal;
   font-weight: 400;

 }

 .shop-now {
   display: inline-block;
   padding: 10px 15px;
   background-color: #E55473;
   color: #fff;
   text-decoration: none;
   font-weight: 700;
   margin-top: 20px;
   font-size: 20px;
   border-radius: 8px;
 }

 .main-section img {
   padding-bottom: 0px;
   max-width: 100%;
   max-height: calc(100vh - 20px);
   display: block;
   margin: 0 auto;
 }
  /***** Main section End ******/


 /***** feature section Start ******/
 .second-section {
   width: 80%;
   margin: auto;
   text-align: center;
   margin-bottom: 50px;
 }

 .image-container1 {
   display: flex;
   justify-content: space-between;
   gap: 10px;
 }

 .flower-image {
   display: flex;
   justify-content: center;
   width: 300px;
   height: 350px;
   background-color: aqua;
   border-radius: 300px 300px 0px 0px;
 }

 .flower-image img {
   width: 200px;
 }

 .flower1 {

   background: rgba(167, 33, 98, 0.15);
 }

 .flower2 {

   background: rgba(5, 151, 160, 0.15);

 }

 .flower3 {
   background: rgba(71, 125, 17, 0.15);
 }

 .text2 {
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 50px;
   list-style-type: none;
   text-decoration: underline;
   color: #272727;
   font-size: 24px;
 }

 .icon-container {
   display: flex;
   height: 250px;
   justify-content: space-around;
   align-items: center;
   padding: 20px 50px 20px 50px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);
 }

 .icon-1 {
   text-align: center;
   color: rgba(39, 39, 39, 0.80);
   list-style-type: none;
   font-size: 24px;
 }
 /***** feature section End ******/


 /***** Service section Start ******/
 .service {
   width: 80%;
   margin: auto;
   text-align: center;
   margin-top: 0px;
 }
  /***** Service section End ******/

 /***** HotDeal section Start ******/
 .hotDeal-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 450px;
   border-radius: 8px;
   background: rgba(229, 84, 115, 0.05);
   margin-top: 70px;
 }

 .headline2 {
   padding: 50px 150px 0px 150px;
   text-align: center;
 }
 /***** HotDeal section End ******/

 /***** instagram section Start ******/
 .instagram-section {
   width: 80%;
   margin: 70px auto;
   text-align: center;

 }

 .image-insta {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 5px;
 }

 .image-insta img {
   width: 250px;
   height: 250px;
 }
 /******** instagram section End ******/

 /******** subscribe section Start ******/
 .subscribe-section {
   text-align: center;
   width: 80%;
   margin: auto;
   height: 300px;
   background-image: url('./image/Rectangle 9.png');
 }

 form input[type=email] {
   border-radius: 8px;
   background: #FFF;
   padding: 10px 15px;
   border: none;
   width: 300px;
 }

 .subscribe {
   margin-left: 10px;
   border-radius: 8px;
   background-color: #E55473;
   color: #fff;
   padding: 10px 15px;
   border: none;
 }
 /******** subscribe section End ******/

  /******** Footer section Start ******/
 .footer {
   text-align: center;
   padding: 100px;
   background: #111010;
   height: 200px;
   color: #FFF;
   margin-top: 70px;
 }

 .footerh {
   color: #FFF;
 }

 .footerp {
   color: rgba(255, 255, 255, 0.90);
 }
   /******** Footer section End ******/